# The client-data directory
CLIENT_DATA_DIR="$HOME/tmwa-client-data"

# The updates working directory
UPDATES_DIR="$HOME/client-updates"

# The git branch used for generating the updates
# This allows for more complex setups, where e.g a branch is used for merging
# from various other branches. It's used on the testing server
# Defaults to master
CLIENT_DATA_BRANCH=master

# Local directory served by the web server,
# where the update files will be copied
UPDATES_PUBLISH_DIR="$HOME/www/tmwupdate"
