Bjørn Lindeijer <bjorn@lindeijer.nl> Bjørn Lindeijer <thorbjorn.lindeijer@nokia.com>
Bjørn Lindeijer <bjorn@lindeijer.nl> Thorbjørn Lindeijer <thorbjorn@lindeijer.nl>
Bjørn Lindeijer <bjorn@lindeijer.nl> Thorbjørn Lindeijer <thorbjorn.lindeijer@nokia.com>
Bjørn Lindeijer <bjorn@lindeijer.nl> Thorbjørn Lindeijer <bjorn@lindeijer.nl>
Ali-G <gauvain.dauchy@free.fr> alige Ali-G <aligetmw@hotmail.fr>
Ali-G <gauvain.dauchy@free.fr> ali-g <gauvain.dauchy@free.fr>
Ali-G <gauvain.dauchy@free.fr> Alige <aligetmw@hotmail.fr>
Ali-G <gauvain.dauchy@free.fr> Ali-G <gauvain@devil.(none)>
Ali-G <gauvain.dauchy@free.fr> Gauvain Dauchy <gauvain@devil.(none)>
Philipp Sehmisch <tmw@crushnet.org> Philipp Sehmisch <crush@themanaworld.org>
Yohann Ferreira <yohann_dot_ferreira_at_orange_dot_fr> Bertram <bertram@cegetel.net>
Yohann Ferreira <yohann_dot_ferreira_at_orange_dot_fr> Yohann Ferreira <yohann_dot_ferreira_at_orange_dot_efer>
Yohann Ferreira <yohann_dot_ferreira_at_orange_dot_fr> Yohann Ferreira <bertram@cegetel.net>
Enchilado <pheonixvania@gmail.com> Enchilado <crunchy@crunchy-Satellite-L300.(none)>
Enchilado <pheonixvania@gmail.com> enchilado <www.e.sayers@gmail.com>
Nina O'Reilly <reid.yaro@gmail.com> Reid <reidyro@gmail.com>
Nina O'Reilly <reid.yaro@gmail.com> Reid Yaro <reidyaro@gmail.com>
Wombat <hpwombat@yahoo.com>  brokendoor <brokendoor@brokendoor-desktop.(none)>
Jared Adams <jaxad0127@gmail.com> jared <jared@jaredPort.localdomain>
Fate <fate-tmw@googlemail.com> Fate <fate.tmw@googlemail.com>
Jessica Tölke <jtoelke@mail.upb.de> jtoelke <jtoelke@gmx.de>
Jessica Tölke <jtoelke@mail.upb.de> jtoelke <jtoelke@mail.upb.de>
Scott Ellis <quiche_on_a_leash@hotmail.co.uk> Scott Ellis <QOAL@beast.(none)>
Dweems <dweems000@gmail.com> DJ Weems <deejay@Plasma-Desktop.(none)>
Dweems <dweems000@gmail.com> deejay <deejay@plasma-Desktop.(none)>
Freeyorp <Freeyorp101@hotmail.com> Freeyorp <Freeyorp101@NOSPAM@hotmail.com>
Freeyorp <Freeyorp101@hotmail.com> Freeyorp <freeyorp101@hotmail.com>
Stefan Dombrowski <stefan@uni-bonn.de> Stefan Dombrowski <sdo451@gmail.com>
Blue Sans Douze <bluesansdouze@gmail.com> Blue <bluesansdouze@gmail.com>
Dennis Friis <peavey@placid.dk> Dennis Friis <peavey@inspircd.org>
Cedric Borgese <cedric.borgese@gmail.com> Cédric Borgese <cedric.borgese@gmail.com>
Darky <dark_mage.87@mail.ru> Dark_Mage <dark_mage.87@mail.ru>
Darky <dark_mage.87@mail.ru> Darky <developer@Pirat.(none)>
Darky <dark_mage.87@mail.ru> Darky <rf_online@mail.ru>
Darky <dark_mage.87@mail.ru> Developer <developer@Pirat.(none)>
Jarrett Thomas-Huxley <fotherjarrett@gmail.com> fother <fotherjarrett@gmail.com>
