<!--
    This is the main world settings file for Mana client since version 0.7.
    It defines all the settings, and can include additional XML files for this.
-->
<settings>
	<include file="maps.xml" />
	<include file="skills.xml" />
	<include file="items.xml" />
	<include file="monsters.xml" />
	<include file="npcs.xml" />
	<include file="emotes.xml" />
	<include file="status-effects.xml" />
	<include file="hair.xml" />
	<include file="units.xml" />
</settings>
